alias v='\nvim'
alias vim='echo "v"'
alias nvim='echo "v"'
alias vc='\nvim ~/.vimrc'
alias zc='\nvim ~/.zshrc'
alias brc='\nvim ~/.bashrc'
alias bashrc='echo brc'
alias vimrc='echo vc'
alias zshrc='echo zc'
alias l="ls"
alias ls="${LS_COMMAND} -F --color"
alias ll="${LS_COMMAND} -lh --color"
alias la="${LS_COMMAND} -Alh --color"
alias less='less -Q'
alias svn-log='svn log -r HEAD:1 -v -l 3 | less'
alias svn-log-branch='svn log --stop-on-copy'
alias svn-up-dry='svn merge --dry-run -r BASE:HEAD .'
alias svn-diff='svn diff | view -'
alias svn-diff-branch='svn diff -r $(svn log --stop-on-copy | grep -o "^r[[:digit:]]*" | tail -1):HEAD | view -'
alias t='\tmux -2'
alias tmux='echo t'
alias saidar='saidar -c'
alias crontab="VIM_CRONTAB=true crontab"
alias apt-search='apt-cache search'
alias apt-version='dpkg -s'
alias ccat='pygmentize -O style=monokai -f console256 -g'
alias iotop='sudo iotop'
alias htop='sudo htop'
alias egrep='egrep --color=auto --exclude-dir={.git,.hg,.svn}'
alias xdebug-enable='export XDEBUG_CONFIG="remote_enable=1 remote_host=127.0.0.1 remote_port=9000"'
alias xdebug-disable='unset XDEBUG_CONFIG'
alias git='echo g'
alias g='\git'
alias gh='\git history'
alias gb='\git branch'
alias gbd='\git branch --delete'
alias gd='\git diff'
alias gdc='\git diff --cached'
alias ga='\git add'
alias gaa='\git add --all'
alias gll='\git pull'
alias gsh='\git push'
alias gc='\git commit --verbose'
alias gcam='\git commit --all --message'
unalias gst > /dev/null 2>&1
unalias gp > /dev/null 2>&1

if [ ! "$(command -v grc || true)" = "" ]; then
    alias gs="\git status | grcat conf.gitstatus"
else
    alias gs="\git status"
fi

# vim: ft=sh
