alias v='\vim'
alias vim='nvim'
alias bashrc='nvim ~/.bashrc'
alias vimrc='nvim ~/.vimrc'
alias zshrc='nvim ~/.zshrc'
alias l="ls"
alias ls="${LS_COMMAND} -F --color"
alias ll="${LS_COMMAND} -lh --color"
alias la="${LS_COMMAND} -Alh --color"
alias less='less -Q'
alias svn_log='svn log -r HEAD:1 -v -l 3 | less'
alias svn_log_branch='svn log --stop-on-copy'
alias svn_up_dry='svn merge --dry-run -r BASE:HEAD .'
alias svn_diff='svn diff | view -'
alias svn_diff_branch='svn diff -r $(svn log --stop-on-copy | grep -o "^r[[:digit:]]*" | tail -1):HEAD | view -'
alias tmux='tmux -2'
alias saidar='saidar -c'
alias crontab="VIM_CRONTAB=true crontab"
alias apt-search='apt-cache search'
alias apt-version='dpkg -s'
alias ccat='pygmentize -O style=monokai -f console256 -g'
alias irssi_screen='screenify irssi'
alias iotop='sudo iotop'
alias gh='git history'
alias gs='git status'
alias gb='git branch'
alias gbd='git branch -d'
alias gd='git diff'
alias gdc='git diff --cached'
alias gc='git commit -v'
alias g='git'
alias egrep='egrep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}'
unalias gst > /dev/null 2>&1

# vim: ft=sh
