[user]
	name = Alexander Reitzel
	email = funtimecoding@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	quotepath = false
	pager = less -Q
[color]
	status = auto
	branch = auto
	ui = true
[alias]
	history = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[advice]
	pushNonFastForward = false
	statusHints = false
[push]
	default = current
[pull]
	rebase = true
	ff = true
[fetch]
	prune = true
[merge]
	commit = false
	ff = false
