[mysql]
pager=grcat conf.mysql
sigint-ignore=true
[client]
no-beep=true
safe-updates=true
[mysqld]
sql-mode=STRICT_ALL_TABLES
#ft_min_word_len=3
#ft_stopword_file=/private/var/www/phabricator/resources/sql/stopwords.txt
# vim: ft=dosini
